.cards {
  display: flex;
  flex-flow: row wrap;
  row-gap: 60px;
  column-gap: 100px;
  width: 920px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding: 0;
}
